@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

//$primary-font : 'Archivo', sans-serif;
//$primary-font : 'Titillium Web', sans-serif;
//$primary-font : 'Mulish', sans-serif;
//$primary-font : 'Cairo', sans-serif;
$primary-font : 'Lato', sans-serif;

$font-color: #EEEEEE;
$background-color: #303841;
$lighter-background-color: #3A4750;
$accent : #F6C90E;